*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: azure;
}
.navbar{
    width: 100%;
    background-color:gray;
    display: flex;
    position:fixed;
    justify-content: space-between;
    
}
.logo{
    padding: 5px;

}
.logo img{
    background: transparent;
    width: 80px;
    height: auto;


}

.links a{  
  margin-right: 20px; 
  color: white;
}
